/triton/model_repository/intent_classifier/1/models--google--gemma-2-2b-it/
/triton/model_repository/preference_model/1/models--google--gemma-2b/
/triton/model_repository/price_classifier/1/models--google--gemma-2b-it/
